.footer {
    display: flex;
    justify-content: space-around;
    min-height: 100px;
    align-items: center;
    background: $color_woodsmoke;
    margin-top: 25px;

    &__link {
        color: $color_white;
        font-size: 20px;
        transition: 0.5s;

        &:hover {
            color: $color_bouquet;
        }
    }

    @media (max-width:$screen_mobile) {
        flex-direction: column;
        padding: 15px 0;
    }
}