.map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        text-align: center;
        font-size: 40px;
    }

    &__box {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;

        &__place {
            border-radius: 10px;
            font-size: 25px;
            height: 150px;
            min-width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $color_rockblue;
            margin: 25px;
            border: 1px solid $color_black;

            &--false {
                background: $color_bouquet;
            }
        }
    }

    &__legend {
        display: flex;

        &__text {
            margin: 25px;
            font-size: 20px;
            background: $color_bouquet;
            padding: 10px 15px;
            border-radius: 25px;
            text-align: center;
            border: 1px solid $color_black;

            &--available {
                background: $color_rockblue;
            }
        }
    }

}