$color_lynch : #67718E;
$color_rockblue : #A0B9D3;
$color_bouquet : #B988A0;
$color_woodsmoke : #131419;
$color_biscay : #1B4866;
$color_white: #ffffff;
$color_black : #000000;

$screen_tablet : 992px;
$screen_mobile : 768px;