* {
  font-family: "Alkatra", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

body,
html {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.header {
  height: 250px;
  background: #131419;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
.header__logo {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__nav {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
.header__nav__link {
  color: #ffffff;
  font-size: 30px;
  transition: 0.5s;
}
.header__nav__link--active {
  color: #B988A0;
}
.header__nav__link:hover {
  color: #B988A0;
}
@media (max-width: 992px) {
  .header {
    flex-wrap: wrap;
    height: 200px;
    padding: 0 25px;
  }
  .header__nav__link {
    font-size: 24px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .header {
    justify-content: center;
    padding: 10px 0;
  }
  .header__logo {
    height: 50%;
    width: 50%;
  }
  .header__nav {
    width: 100%;
    height: 50%;
    align-items: center;
    flex-direction: column;
  }
  .header__nav__link {
    font-size: 20px;
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  min-height: 100px;
  align-items: center;
  background: #131419;
  margin-top: 25px;
}
.footer__link {
  color: #ffffff;
  font-size: 20px;
  transition: 0.5s;
}
.footer__link:hover {
  color: #B988A0;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 15px 0;
  }
}

.home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 25px 150px;
}
.home__nav {
  padding-top: 50px;
  border-top: 1px solid #000000;
  margin-bottom: 25px;
}
.home__nav__link {
  text-align: center;
  margin: 25px;
  font-size: 25px;
  background: #1B4866;
  border-radius: 25px;
  color: #ffffff;
  transition: 0.5s;
  padding: 10px 25px;
  border-bottom: 5px solid #000000;
}
.home__nav__link:hover {
  color: #A0B9D3;
  opacity: 0.95;
  border-bottom: 2px solid #000000;
}
@media (max-width: 992px) {
  .home {
    margin: 25px 100px;
  }
  .home__nav__link {
    font-size: 20px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .home {
    margin: 0px 50px;
  }
  .home__nav {
    padding-top: 10px;
    margin-top: 25px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .home__nav__link {
    margin: 15px;
  }
}

.request {
  display: flex;
  justify-content: space-between;
  margin: 0 75px;
}
.request__map {
  width: 70%;
}
.request__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}
.request__form__group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.request__form__group__label {
  text-align: center;
  margin-bottom: 5px;
}
.request__form__group__input {
  width: 100%;
}
.request__form__button {
  text-align: center;
  font-size: 20px;
  padding: 10px 25px;
  background: #1B4866;
  border-radius: 25px;
  color: #ffffff;
  transition: 0.5s;
}
.request__form__button:hover {
  color: #A0B9D3;
  opacity: 0.95;
}
@media (max-width: 992px) {
  .request {
    flex-direction: column;
  }
  .request__form {
    width: 100%;
  }
  .request__form__group {
    width: 50%;
  }
  .request__map {
    width: 100%;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .request {
    margin: 25px;
  }
  .request__form__group {
    width: 75%;
  }
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.map__title {
  text-align: center;
  font-size: 40px;
}
.map__box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.map__box__place {
  border-radius: 10px;
  font-size: 25px;
  height: 150px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #A0B9D3;
  margin: 25px;
  border: 1px solid #000000;
}
.map__box__place--false {
  background: #B988A0;
}
.map__legend {
  display: flex;
}
.map__legend__text {
  margin: 25px;
  font-size: 20px;
  background: #B988A0;
  padding: 10px 15px;
  border-radius: 25px;
  text-align: center;
  border: 1px solid #000000;
}
.map__legend__text--available {
  background: #A0B9D3;
}

.banner {
  margin: 50px 100px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.banner__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 10%;
     object-position: 50% 10%;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  border-radius: 25px;
  box-shadow: 5px 5px 10px 1px #000000;
}
.banner__legend {
  width: 100%;
  font-size: 40px;
  position: relative;
  bottom: 150px;
  color: #000000;
  text-align: center;
  padding: 0 50px;
}
@media (max-width: 992px) {
  .banner {
    height: 200px;
  }
  .banner__legend {
    font-size: 30px;
    bottom: 125px;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .banner {
    margin: 25px 25px;
    height: 150px;
  }
  .banner__legend {
    font-size: 24px;
    padding: 0 25px;
    bottom: 100px;
  }
}

.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 50px;
}
.errorPage__title {
  font-size: 50px;
}
.errorPage__link {
  font-size: 25px;
  transition: 0.5s;
}
.errorPage__link:hover {
  color: #B988A0;
}

.disclaimer {
  text-align: center;
  margin: 50px;
}
.disclaimer__title {
  font-size: 40px;
}
.disclaimer__text {
  font-size: 24px;
}

.confirmation {
  text-align: center;
}
.confirmation__title {
  font-size: 40px;
}
.confirmation__text {
  font-size: 26px;
}/*# sourceMappingURL=Main.css.map */